<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
      </script> 
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> 
      </script> 
</head>
<body>
{% for d in display %}
<h1>{{d.name}}</h1>
<h2>{{d.email}}</h2>
<img src="{{ d.image.url }}"  class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" alt="">
{% endfor %}
</body>
</html>
